# The name of the DynamoDB table
DYNAMODB_TABLE_NAME="TinyUrlTable"

# A secure, secret API key for internal services
API_KEY="CHANGE_ME_TO_A_VERY_SECRET_KEY"

# Logging level (DEBUG, INFO, WARNING, ERROR)
LOG_LEVEL="INFO"